@*@model IEnumerable<GestaoDeTarefasIPG.Models.Funcionario>*@
@model FuncionarioViewModels
@{
    ViewData["Title"] = "Funcionarios";
}

<h1>Funcionarios</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Criar Novo</a>
</p>
<form asp-action="Index">
    <div>
        <h3>Pesquisa</h3>
        <menu>
            <h5>Nome do Funcionario:<input style="width:250px;" asp-for="NomeCorrente" /></h5> <input type="submit" value="Pesquisar" class="btn btn-info" />
        </menu>
       
    </div>
</form>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeCorrente)
            </th>
          
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Funcionarios) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Morada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contacto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a class="btn btn-warning"asp-action="Edit" asp-route-id="@item.FuncionarioId">Editar</a> 
                <a class="btn btn-info"asp-action="Details" asp-route-id="@item.FuncionarioId">Detalhes</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.FuncionarioId">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div modelo-pagina="@Model.Paginacao">
  
</div>