@model IEnumerable<GestaoDeTarefasIPG.Models.Funcionario>

@{
    ViewData["Title"] = "Funcionarios";
}

<h1>Funcionarios</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Criar Novo</a>
</p>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Morada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Morada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contacto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a class="btn btn-warning"asp-action="Edit" asp-route-id="@item.FuncionarioId">Editar</a> 
                <a class="btn btn-info"asp-action="Details" asp-route-id="@item.FuncionarioId">Detalhes</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.FuncionarioId">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
