@*@model IEnumerable<GestaoDeTarefasIPG.Models.Funcionario>*@
@model FuncionarioViewModels
@{
    ViewData["Title"] = "Funcionarios";
}

<h1>Funcionarios</h1>


<form asp-action="Index">
    <div class="clearfix">

        <menu>
            <button type="submit" class="btn btn-dark  float-right">
                <img src="~/imagem/icon.png" width="20" height="20">
            </button>
            <input style="width:250px;" placeholder="Pesquisar" aria-label="Search" class="font-italic float-right" asp-for="Nome" />

            <h4 class=" float-right">Nome do Funcionario:</h4>
        </menu>

    </div>
    <p>
        <a class="btn btn-primary" asp-action="Create">Criar Novo</a>
    </p>
</form>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Funcionarios.First().Nome)
            </th>
            
          
           
            <th>
                @Html.DisplayNameFor(model => model.Funcionarios.First().Contacto)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Funcionarios.First().Email)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Funcionarios)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
             
             
               
                <td>
                    @Html.DisplayFor(modelItem => item.Contacto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.FuncionarioId">Editar</a>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.FuncionarioId">Detalhes</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.FuncionarioId">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div modelo-pagina="@Model.Paginacao"></div>
