@model GestaoDeTarefasIPG.Models.Professor

@{
    ViewData["Title"] = "Delete";
}

<h1>Apagar</h1>

<div class="alert alert-danger" role="alert">
    <h3>Tens certeza que deseja apagar?</h3>
</div>

<div>
    <h4>Professor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contato)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contato)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Morada)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Morada)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoPostal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CodigoPostal)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ProfessorId" />
        <a href="#Confirmacao" data-toggle="modal" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash"></span> Eliminar
        </a>
        <a asp-action="Index">Voltar à Lista</a>
    </form>

    <div id="Confirmacao" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-box">
                        <i class="material-icons">&#xE5CD;</i>
                    </div>
                    <h4 class="modal-title">Eliminará permanentemente <b>@Html.DisplayFor(model => model.Nome)</b>.</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Tem a certeza que deseja apagar? </p>
                </div>
                <div class="modal-footer">
                    <form asp-action="Delete">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <input type="hidden" asp-for="ProfessorId" />
                        <input type="submit" class="btn btn-danger" value="Eliminar" />
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>
