@model IEnumerable<GestaoDeTarefasIPG.Models.Tarefa>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descrição)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcionario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descrição)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Funcionario.CodigoPostal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TarefaID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TarefaID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TarefaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
