@*@model IEnumerable<GestaoDeTarefasIPG.Models.Tarefa>*@

@model TarefasViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Serviço</h1>

<p>
    <a asp-action="Create">Criar Nova Tarefa</a>
</p>
<form asp-action="Index">
    <p style="float:right">
        Pesquisar por Tarefa: <input style="width: 200px;" asp-for="CurrentName" />
        <button class="btn btn-info" type="submit" value="Pesquisar"><span class="glyphicon glyphicon-search"></span> Pesquisar</button>
    </p>
</form>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcionario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tarefa) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Funcionario.Nome)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.TarefaID">Editar</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.TarefaID">Detalhes</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.TarefaID">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div modelo-pagina="@Model.Pagination"></div>